<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>A List of Bug Reports!</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <form th:action="@{/bugReports/view/{id} (id=${bugReport.id})}" th:object="${bugReport}" method="POST">
            <div class="row g-3">
                <div class="col-md ">
                    <div class="row">
                        <div class="col">
                            <h1>#<span th:text="*{id}"></span></h1>
                            <h1 th:text="*{title}"></h1>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="descriptionTextArea" class="form-label">Description</label>
                            <textarea class="form-control" th:text="*{description}" id="descriptionTextArea"
                                rows=""></textarea>
                        </div>

                    </div>
                </div>
                <div class="col-md">
                    <div class="row g-3">
                        <div class="col-6 border-end border-dark">
                            <label for="reporterTextBox">Reporter</label>
                            <input type="text" th:field="*{reporter}" id="reporterTextBox">

                        </div>

                        <div class="col-6">
                            <label for="assigneeTextBox">Assignee</label>
                            <input type="text" th:field="*{assignee}" id="assigneeTextBox">
                        </div>
                        <div class="col-6">
                            <label for="ownerTextBox">Owner</label>
                            <input type="text" th:field="*{assignee}" id="ownerTextBox">
                        </div>

                        <div class="col-6">
                            <label for="projectTextBox">Project</label>
                            <input type="text" th:field="*{projectAssignedTo}" id="projectTextBox">
                        </div>
                        <div class="col-6">
                            <label for="criticalityTextBox">Criticality</label>
                            <input type="text" th:field="*{criticality}" id="criticalityTextBox">
                        </div>

                        <div class="col-6">
                            <label for="categoryTextBox">Category</label>
                            <input type="text" th:field="*{category}" id="categoryTextBox">
                        </div>
                        <div class="col-6">
                            <label for="statusTextBox">Status</label>
                            <input type="text" th:field="*{status}" id="statusTextBox">
                        </div>

                        <div class="col-6">
                            <label for="priorityTextBox">Priority</label>
                            <input type="text" th:field="*{priority}" id="priorityTextBox">
                        </div>
                        <div class="col-6">
                            <label for="createdOnTextBox">Date Created On</label>
                            <p th:text="*{createdOn}" id="createdOnTextBox"></p>
                        </div>

                        <div class="col-6">
                            <label for="lastChangeTextBox">Last Changed On</label>
                            <p th:text="*{createdOn}" id="lastChangeTextBox"></p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-6">
                    <p>Attachments</p>
                    <input type="file" id="attachments">
                </div>
                <div class="col-md"></div>
            </div>

            <div class="row border border-dark">
                <div class="col-6">
                    <p>current files</p>
                </div>
                <div class="col-md"></div>
            </div>

            <div class="row">
                <div class="col">
                    Comments & Changes
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-comments-tab" data-bs-toggle="tab" data-bs-target="#nav-comments" type="button" role="tab" aria-controls="nav-comments" aria-selected="true">Comments</button>
                            <button class="nav-link" id="nav-changes-tab" data-bs-toggle="tab" data-bs-target="#nav-changes" type="button" role="tab" aria-controls="nav-changes" aria-selected="false">Changes</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab" tabindex="0">THIS IS THE COMMENTS SECTION</div>
                        <div class="tab-pane fade show" id="nav-changes" role="tabpanel" aria-labelledby="nav-changes-tab" tabindex="0">THIS IS THE CHANGES SECTION</div>
                    </div>
                </div>
            </div>

        </form>
    </div>


    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.min.js"></script>
</body>

</html>