<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <div th:insert="navigation :: navbar"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col-1">
                    <a href="/profile" class="btn btn-outline-primary"><- Profile</a>
                </div>
                <div class="row my-3">
                    <h2>Update Account Details</h2>
                    <form th:object="${userDetails}" th:action="@{/profile/update-profile-changes}" method="POST">
                        <div class="form-floating">
                            <input type="text" th:field="*{firstName}" class="form-control" id="first-name">
                            <label for="first-name">First name</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" th:field="*{lastName}" class="form-control" id="last-name">
                            <label for="last-name">Last name</label>
                        </div>
                        <div class="form-floating">
                            <input type="email" th:field="*{emailAddress}" class="form-control" id="email-address">
                            <label for="email-address">Email address</label>
                        </div>
                        <input class="btn btn-outline-primary" value="Save" type="submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>