<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Update Password</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link th:href="@{/css/custom-bootstrap.css}" rel="stylesheet">
</head>

<body>
    <div class="row g-0">
        <div class="col p-2 d-none d-lg-block">
            <div th:replace="navigation :: side-navbar"></div>
        </div>
        <div class="col d-block d-lg-none">
            <div th:replace="navigation :: offcanvas-navbar"></div>
        </div>
        <div class="col-lg-9">
            <div class="container-fluid">
                <div class="row sticky-top p-2">
                    <div class="col-1 mx-2 d-lg-none position-relative">
                        <div class="position-absolute start-50 top-50 translate-middle">
                            <i class="btn btn-light bi bi-arrow-right-square py-auto"
                                style="font-size: 3rem; background-color: transparent; border-color: transparent;"
                                type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navbar"
                                aria-controls="offcanvas-navbar"></i>
                        </div>
                    </div>
                    <div class="col px-1">
                        <div class="container rounded-3 text-bg-dark bg-gradient" style="height: 4em;">
                            <div class="row py-2">
                                <div class="col">
                                    <nav class="pt-2" aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                            <li class="breadcrumb-item" aria-current="page"><a href="/profile">My
                                                    Profile</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Update Password</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="col text-center">
                                    <h5 class="navbar-text">Update Password</h5>
                                </div>
                                <div class="col-md">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Update Password</h2>
                <form th:object="${userPassword}" th:action="@{/profile/update-password}" method="POST">

                    <div class="form-floating">
                        <input type="password" th:field="*{oldPassword}" class="form-control" id="old-password"
                            th:errorclass="is-invalid">
                        <label for="password"><span
                                th:text="${#fields.hasErrors('oldPassword')} ? ${#fields.errors('oldPassword')} : 'Old Password'"></span></label>
                    </div>

                    <div class="form-floating">
                        <input type="password" th:field="${userPassword.password}" class="form-control" id="password"
                            th:errorclass="is-invalid">
                        <label for="password"><span
                                th:text="${#fields.hasErrors('userPassword.password')} ? ${#fields.errors('userPassword.password')} : 'New Password'"></span></label>
                    </div>

                    <div class="form-floating">
                        <input type="password" th:field="${userPassword.confirmPassword}" class="form-control"
                            id="confirm-password" th:errorclass="is-invalid">
                        <label for="confirm-password"><span
                                th:text="${#fields.hasErrors('userPassword.confirmPassword')} ? ${#fields.errors('userPassword.confirmPassword')} : 'Confirm New Password'"></span></label>
                    </div>
                    <input class="btn btn-outline-primary" value="Save" type="submit">
                </form>
            </div>
        </div>
    </div>

    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>