<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>A List of Bug Reports!</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col py-5">
                <div th:insert="navigation :: navbar"></div>
            </div>
        </div>
        <div class="row">
            <div class="col gy-5"></div>
        </div>
        <form th:action="@{/bugReports/edit/{id} (id=${editableBugReport.id})}" th:object="${editableBugReport}"
            method="POST">
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <div class="col">
                            <h1>#<span th:text="*{id}"></span></h1>
                            <label for="newTitle">Title</label>
                            <input type="text" th:field="${editableBugReport.title}" id="newTitle">
                            <label class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('title')}"
                                th:errors="*{title}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col gy-3">
                            <label for="descriptionTextArea" class="form-label">Description</label>
                            <textarea class="form-control" th:field="${editableBugReport.description}"
                                id="descriptionTextArea" rows="7"></textarea>
                            <label class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('description')}"
                                th:errors="*{description}"></label>
                        </div>

                    </div>
                </div>
                <div class="col-md">
                    <div class="row g-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <select name="reporter" class="form-select" th:field="*{reporter}"
                                            id="reporterDropDown">
                                            <option th:each="user : ${existingUsers}" th:value="${user}"
                                                th:text="${user}">
                                            </option>
                                        </select>
                                        <label for="reporterDropDown">Reporter</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <select name="assignee" class="form-select" th:field="*{assignee}"
                                            id="assigneeDropDown">
                                            <option th:each="user : ${existingUsers}" th:value="${user}"
                                                th:text="${user}">
                                            </option>
                                        </select>
                                        <label for="assigneeDropDown">Assignee</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <select name="owner" class="form-select" th:field="*{owner}" id="ownerDropDown">
                                            <option th:each="user : ${existingUsers}" th:value="${user}"
                                                th:text="${user}">
                                            </option>
                                        </select>
                                        <label for="ownerDropDown">Owner</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <select name="project" class="form-select" th:field="*{projectAssignedTo}"
                                            id="projectDropDown">
                                            <option th:each="project : ${allProjects}" th:value="${project}"
                                                th:text="${project}">
                                            </option>
                                        </select>
                                        <label for="projectDropDown">Project</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <select name="CriticalityLevel" class="form-select" th:field="*{criticality}"
                                            id="criticalityDropDown">
                                            <option value="Low">Low</option>
                                            <option value="Medium">Medium</option>
                                            <option value="High">High</option>
                                            <option value="Severe">Severe</option>
                                            <option value="Blocker">Blocker</option>
                                        </select>
                                        <label for="criticalityDropDown">Criticality</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <select name="category" class="form-select" th:field="*{category}"
                                            id="categoryDropDown">
                                            <option value="Functional">Functional</option>
                                            <option value="Performance">Performance</option>
                                            <option value="Security">Security</option>
                                            <option value="Feature">Feature</option>
                                            <option value="Usability">Usability</option>
                                        </select>
                                        <label for="categoryDropDown">Category</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <select name="status" class="form-select" th:field="*{Status}"
                                            id="statusDropDown">
                                            <option value="Open">Open</option>
                                            <option value="In-progress">In-progress</option>
                                            <option value="Done">Done</option>
                                        </select>
                                        <label for="statusDropDown">Status</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <select name="priority" class="form-select" th:field="*{Priority}"
                                            id="priorityDropDown">
                                            <option value="Low">Low</option>
                                            <option value="Medium">Medium</option>
                                            <option value="High">High</option>
                                            <option value="Urgent">Urgent</option>
                                        </select>
                                        <label for="priorityDropDown">Priority</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md gy-3">

                    <div class="row">
                        <div class="col gy-3">
                            <p>Attachments</p>
                            <input type="file" id="attachments">
                        </div>
                    </div>
                </div>
                <div class="col-md gy-3">
                    <input class="btn btn-outline-primary" type="submit" value="Save Changes"></input>
                </div>
            </div>
            <div class="row">
                <div class="col gy-4"></div>
            </div>

        </form>
    </div>

    <script>

    </script>


    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>