<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Profile</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico?v=1}">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link th:href="@{/css/custom-bootstrap.css}" rel="stylesheet">
</head>

<body>

    <div class="row g-0">
        <div class="col d-none d-lg-block">
            <div th:replace="navigation :: side-navbar"></div>
        </div>
        <div class="col d-block d-lg-none">
            <div th:replace="navigation :: offcanvas-navbar"></div>
        </div>
        <div class="col-lg-9">
            <div class="container-fluid">
                <div th:object="${accountDetails}">
                    <div
                        th:replace="banner :: banner (pageLinks='editUserProfileAsAdmin-links', pageName='Edit ' + *{fullName} + '\'s Profile')">
                    </div>
                </div>
                <h2>Update Account Details</h2>
                <form th:object="${accountDetails}"
                    th:action="@{/admin/allUserAccounts/save/{id} (id=${accountDetails.id})}" method="POST">
                    <div class="form-floating my-2">
                        <input type="number" readonly th:field="*{id}" class="form-control-plaintext" id="account-id"
                            th:errorclass="is-invalid">
                        <label for="account-id">Account ID</label>
                    </div>
                    <div class="form-floating my-2">
                        <input type="text" th:field="*{userProfile.firstName}" class="form-control" id="first-name"
                            th:errorclass="is-invalid">
                        <label for="first-name">First name</label>
                        <div class="invalid-tooltip" role="alert" th:if="${#fields.hasErrors('userProfile.firstName')}"
                            th:errors="*{userProfile.firstName}" th:errorclass="is-invalid">
                        </div>
                    </div>
                    <div class="form-floating my-2">
                        <input type="text" th:field="*{userProfile.lastName}" class="form-control" id="last-name"
                            th:errorclass="is-invalid">
                        <label for="last-name">Last name</label>
                        <div class="invalid-tooltip" role="alert" th:if="${#fields.hasErrors('userProfile.lastName')}"
                            th:errors="*{userProfile.lastName}">
                        </div>
                    </div>
                    <div class="form-floating my-2">
                        <select class="form-select" id="team" th:field="*{team}">
                            <option th:each="team : ${allTeams}" th:value="${team}" th:text="${team}"></option>
                        </select>
                        <label for="team">Team</label>
                    </div>
                    <div class="form-floating my-2">
                        <select class="form-select" id="team" th:field="*{role}">
                            <option value="Administrator" th:text="'Administrator'"></option>
                            <option value="Manager" th:text="'Manager'"></option>
                            <option value="Developer" th:text="'Developer'"></option>
                            <option value="Tester" th:text="'Tester'"></option>
                            <option value="End-user" th:text="'End-user'"></option>
                            <option value="None" th:text="'None'"></option>
                            <option value="Owner" th:text="'Owner'"></option>
                        </select>
                        <label for="role">Role</label>
                    </div>
                    <input class="btn btn-outline-primary my-2 mb-5" value="Save" type="submit">
                </form>
            </div>
        </div>
    </div>

    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>