<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link th:rel="stylesheet" th:href="@{/css/custom-bootstrap.css}">
    <link rel="stylesheet" href="/css/home-page.css">
</head>

<body>

    <div class="row mt-4 pt-2 pb-4 justify-content-end border-bottom border-secondary">
        <div class="col">
            <h1 class="display-6 text-light ps-3">
                <div th:replace="/fragments/svgLogo :: logo-white"></div>
                BugJar
            </h1>
        </div>
        <div class="col-4 mt-4 text-end">
            <a class="btn btn-outline-primary" href="./login">Demo Account</a>
            <a class="btn btn-outline-primary mx-4" href="./login">Log in</a>
            <a class="btn btn-primary me-3" href="./signup">Sign up</a>
        </div>
    </div>

    <div class="container-fluid 100-min-vh">

        <div class="row">

        </div>
    </div>
    <div style="height: 200vh;"></div>

    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>