<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>A List of Bug Reports!</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>

    <div class="row g-0">
        <div class="col p-2 d-none d-lg-block">
            <div th:replace="navigation :: side-navbar"></div>
        </div>
        <div class="col d-block d-lg-none">
            <div th:replace="navigation :: offcanvas-navbar"></div>
        </div>
        <div class="col-lg-9">
            <div class="container-fluid">
                <div class="row p-2">
                    <div class="container rounded-3 text-bg-dark bg-gradient text-center" style="height: 10vh;">
                        <button class="btn btn-primary float-start border border-white d-lg-none" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navbar"
                            aria-controls="offcanvas-navbar">
                            <span class="navbar-toggler-icon">nav</span>
                        </button>
                        <h5 class="navbar-text">bug reports</h5>
                    </div>
                </div>
                <form th:action="@{/bugReports/new}" th:object="${newBugReport}" method="POST">
                    <div class="row">
                        <div class="col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="newTitle">Title</label>
                                    <input type="text" th:field="*{title}" id="newTitle">
                                    <label class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('title')}"
                                        th:errors="*{title}"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col gy-3">
                                    <label for="descriptionTextArea" class="form-label">Description</label>
                                    <textarea class="form-control" th:field="*{description}" id="descriptionTextArea"
                                        rows="7"></textarea>
                                    <label class="alert alert-danger" role="alert"
                                        th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label>
                                </div>

                            </div>
                        </div>
                        <div class="col-md">
                            <div class="row g-3">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="reporterDropDown">Reporter</label>
                                        </div>
                                        <div class="col">
                                            <div class="dropdown">
                                                <select name="reporter" th:field="*{reporter}" id="reporterDropDown">
                                                    <option th:each="user : ${existingUsers}" th:value="${user}"
                                                        th:text="${user}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="assigneeDropDown">Assignee</label>
                                        </div>
                                        <div class="col">
                                            <div class="dropdown">
                                                <select name="assignee" th:field="*{assignee}" id="assigneeDropDown">
                                                    <option th:each="user : ${existingUsers}" th:value="${user}"
                                                        th:text="${user}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="ownerDropDown">Owner</label>
                                        </div>
                                        <div class="col">
                                            <div class="dropdown">
                                                <select name="owner" th:field="*{owner}" id="ownerDropDown">
                                                    <option th:each="user : ${existingUsers}" th:value="${user}"
                                                        th:text="${user}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="projectDropDown">Project</label>
                                        </div>
                                        <div class="col">
                                            <div class="dropdown">
                                                <select name="project" th:field="*{projectAssignedTo}"
                                                    id="projectDropDown">
                                                    <option th:each="project : ${allProjects}" th:value="${project}"
                                                        th:text="${project}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="criticalityDropDown">Criticality</label>
                                        </div>
                                        <div class="col">
                                            <div class="dropdown">
                                                <select name="CriticalityLevel" th:field="*{criticality}"
                                                    id="criticalityDropDown">
                                                    <option value="Low">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                    <option value="Severe">Severe</option>
                                                    <option value="Blocker">Blocker</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="categoryDropDown">Category</label>
                                        </div>
                                        <div class="col">
                                            <div class="dropdown">
                                                <select name="category" id="categoryDropDown">
                                                    <option value="Functional">Functional</option>
                                                    <option value="Performance">Performance</option>
                                                    <option value="Security">Security</option>
                                                    <option value="Feature">Feature</option>
                                                    <option value="Usability">Usability</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="statusDropDown">Status</label>
                                        </div>
                                        <div class="col">
                                            <div class="dropdown">
                                                <select name="status" id="statusDropDown">
                                                    <option value="Open">Open</option>
                                                    <option value="In-progress">In-progress</option>
                                                    <option value="Done">Done</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="priorityDropDown">Priority</label>
                                        </div>
                                        <div class="col">
                                            <div class="dropdown">
                                                <select name="priority" id="priorityDropDown">
                                                    <option value="Low">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                    <option value="Urgent">Urgent</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md gy-3">
                            <input class="btn btn-outline-primary" type="submit" value="Save"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col gy-4"></div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script>

    </script>


    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>