<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>A List of Bug Reports!</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico?v=1}">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link th:rel="stylesheet" th:href="@{/css/custom-bootstrap.css}">
</head>

<body>

    <div class="row g-0">
        <div class="col d-none d-lg-block">
            <div th:replace="navigation :: side-navbar"></div>
        </div>
        <div class="col d-block d-lg-none">
            <div th:replace="navigation :: offcanvas-navbar"></div>
        </div>
        <div class="col-lg-9 mb-3">
            <div class="container-fluid">
                <div
                    th:replace="banner :: banner (pageLinks='newBugReport-links', pageName='New Bug Report')">
                </div>
                <form th:action="@{/bugReports/new}" th:object="${newBugReport}" method="POST">
                    <div class="row">
                        <div class="col-md">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <input class="form-control" type="text" th:field="${newBugReport.title}"
                                            id="newTitle" th:errorclass="is-invalid">
                                        <label for="newTitle">Title</label>
                                        <div class="invalid-tooltip" role="alert" th:if="${#fields.hasErrors('title')}"
                                            th:errors="*{title}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col gy-3">
                                    <div class="form-floating">
                                        <textarea class="form-control" style="height: 29vh;" th:field="*{description}"
                                            id="descriptionTextArea" rows="7" th:errorclass="is-invalid"></textarea>
                                        <label for="descriptionTextArea" class="form-label">Description</label>
                                        <div class="invalid-tooltip" role="alert"
                                            th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="row g-3">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <input name="reporter" readonly class="form-control"
                                                    th:field="${userDetails.fullName}" id="reporterDropDown" />
                                                <label for="reporterDropDown">Reporter</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select name="assignee" class="form-select" th:field="*{assignee}"
                                                    id="assigneeDropDown" th:errorclass="is-invalid">
                                                    <option value=""></option>
                                                    <option th:each="user : ${existingUsers}" th:value="${user}"
                                                        th:text="${user}">
                                                    </option>
                                                </select>
                                                <label for="assigneeDropDown">Assignee</label>
                                                <div class="invalid-tooltip" role="alert"
                                                    th:if="${#fields.hasErrors('assignee')}" th:errors="*{assignee}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select name="owner" class="form-select" th:field="*{owner}"
                                                    id="ownerDropDown" th:errorclass="is-invalid">
                                                    <option value=""></option>
                                                    <option th:each="user : ${existingUsers}" th:value="${user}"
                                                        th:text="${user}">
                                                    </option>
                                                </select>
                                                <label for="ownerDropDown">Owner</label>
                                                <div class="invalid-tooltip" role="alert"
                                                    th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select name="project" class="form-select"
                                                    th:field="*{projectAssignedTo}" id="projectDropDown"
                                                    th:errorclass="is-invalid">
                                                    <option value=""></option>
                                                    <option th:each="project : ${allProjects}" th:value="${project}"
                                                        th:text="${project}">
                                                    </option>
                                                </select>
                                                <label for="projectDropDown">Project</label>
                                                <div class="invalid-tooltip" role="alert"
                                                    th:if="${#fields.hasErrors('projectAssignedTo')}"
                                                    th:errors="*{projectAssignedTo}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select name="CriticalityLevel" class="form-select"
                                                    th:field="*{criticality}" id="criticalityDropDown"
                                                    th:errorclass="is-invalid">
                                                    <option value=""></option>
                                                    <option value="Low">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                    <option value="Severe">Severe</option>
                                                    <option value="Blocker">Blocker</option>
                                                </select>
                                                <label for="criticalityDropDown">Criticality</label>
                                                <div class="invalid-tooltip" role="alert"
                                                    th:if="${#fields.hasErrors('criticality')}"
                                                    th:errors="*{criticality}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select name="category" class="form-select" th:field="*{category}"
                                                    id="categoryDropDown" th:errorclass="is-invalid">
                                                    <option value=""></option>
                                                    <option value="Functional">Functional</option>
                                                    <option value="Performance">Performance</option>
                                                    <option value="Security">Security</option>
                                                    <option value="Feature">Feature</option>
                                                    <option value="Usability">Usability</option>
                                                </select>
                                                <label for="categoryDropDown">Category</label>
                                                <div class="invalid-tooltip" role="alert"
                                                    th:if="${#fields.hasErrors('category')}" th:errors="*{category}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select class="form-select" th:field="*{status}" id="statusDropDown"
                                                    th:errorclass="is-invalid">
                                                    <option value=""></option>
                                                    <option value="Open">Open</option>
                                                    <option value="In-progress">In-progress</option>
                                                    <option value="Done">Done</option>
                                                </select>
                                                <label for="statusDropDown">Status</label>
                                                <div class="invalid-tooltip" role="alert"
                                                    th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select name="priority" class="form-select" th:field="*{Priority}"
                                                    id="priorityDropDown">
                                                    <option value=""></option>
                                                    <option value="Low">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                    <option value="Urgent">Urgent</option>
                                                </select>
                                                <label for="priorityDropDown">Priority</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md gy-3">
                            <input class="btn btn-outline-primary" type="submit" value="Save"></input>
                            <div class="bg-danger text-white rounded-2 ps-2 mt-1" role="alert"
                                th:if="${#fields.hasErrors('reporter')}" th:errors="*{reporter}"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>