<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Create New User</title>
    <base href="/">
    <link href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row mb-5"></div>
        <div class="row">
            <form th:action="@{/signup}" th:object="${newUser}" method="POST">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-floating">
                                            <input type="text" aria-label="First name" class="form-control"
                                                th:field="*{userProfile.firstName}" th:errorclass="is-invalid" id="first-name">
                                            <label for="first-name"><span
                                                    th:text="${#fields.hasErrors('userProfile.firstName')} ? ${#fields.errors('userProfile.firstName')} : 'First name'"></span></label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating">
                                            <input type="text" aria-label="Last name" class="form-control"
                                                th:field="*{lastName}" th:errorclass="is-invalid" id="last-name">
                                            <label for="last-name"><span
                                                    th:text="${#fields.hasErrors('lastName')} ? ${#fields.errors('lastName')} : 'Last name'"></span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control" th:field="*{userProfile.emailAddress}"
                                        aria-label="Email address" th:errorclass="is-invalid" id="email-address">
                                    <label for="email-address"><span
                                            th:text="${#fields.hasErrors('userProfile.emailAddress')} ? ${#fields.errors('userProfile.emailAddress')} : 'Email address'"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="password" class="form-control" aria-label="password" th:field="*{userPassword.password}"
                                        th:errorclass="is-invalid" id="password">
                                    <label for="password"><span
                                            th:text="${#fields.hasErrors('userPassword.password')} ? ${#fields.errors('userPassword.password')} : 'Password'"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" aria-label="password"
                                        th:field="*{userPassword.confirmPassword}" th:errorclass="is-invalid" id="confirm-password">
                                    <label for="confirm-password"><span
                                            th:text="${#fields.hasErrors('userPassword.confirmPassword')} ? ${#fields.errors('userPassword.confirmPassword')} : 'Confirm Password'"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <input type="submit" class="btn btn-outline-primary" value="Signup">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <script>

    </script>


    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>