<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Create New User</title>
    <base href="/">
    <link href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row mb-5"></div>
        <div class="row">
            <form th:action="@{/signup}" th:object="${newUser}" method="POST">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text">First and last name</span>
                                    <input type="text" aria-label="First name" class="form-control"
                                        th:field="*{firstName}">
                                    <label class="alert alert-danger" role="alert"
                                        th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
                                    <input type="text" aria-label="Last name" class="form-control"
                                        th:field="*{lastName}">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" th:field="*{emailAddress}"
                                    placeholder="Email Address" aria-label="Email address">
                                <label class="alert alert-danger" role="alert"
                                    th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" id="password" aria-label="password"
                                    placeholder="password" th:field="*{password}">
                                <label class="alert alert-danger" role="alert"
                                    th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></label>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col mb-3">
                                <input type="text" class="form-control" id="confirm-password"
                                    aria-label="Confirm password" placeholder="password">
                                <label for="confirm-password">Confirm password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <input type="submit" class="btn btn-outline-primary" value="Create">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <script>

    </script>


    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>