<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/custom-bootstrap.css}">
</head>

<body>
    <div class="row g-0">

        <div class="col d-none d-lg-block">
            <div th:replace="navigation :: side-navbar"></div>
        </div>
        <div class="col gt-2 d-block d-lg-none">
            <div th:replace="navigation :: offcanvas-navbar"></div>
        </div>

        <div class="col-lg-9">
            <div class="container-fluid">
                <div th:replace="banner :: banner (pageLinks='dashboard-links', pageName='Dashboard')"></div>
                <div class="row justify-content-around mt-4">
                    <div class="col-lg-4 col-md-6 mt-4 mb-4">
                        <div class="card border-light justify-content-center h-100">
                            <div class="card-body">
                                <h4>Reports By Criticality</h4>
                                <div class="chart">
                                    <canvas id="chart-donut-criticality" class="chart-canvas"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mb-4">
                        <div class="card border-light justify-content-center h-100">
                            <div class="card-body">
                                <p class="h4">Reports By Category</p>
                                <div class="chart">
                                    <canvas id="chart-bar-category" class="chart-canvas" height="250"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around mt-4">
                    <div class="col-lg-4 col-md-6 mt-4 mb-4">
                        <div class="card border-light justify-content-center h-100">
                            <div class="card-body">
                                <h4>Reports By Status</h4>
                                <div class="chart">
                                    <canvas id="chart-donut-status" class="chart-canvas" height="250"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mb-4">
                        <div class="card border-light justify-content-center h-100">
                            <div class="card-body">
                                <h4 class="h3 text-center">Reports By Priority</h4>
                                <div class="chart">
                                    <canvas id="chart-donut-priority" class="chart-canvas" height="250"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/chartjs/4.1.1/dist/chart.umd.js"></script>

    <script th:inline="javascript">

        var ctx = document.getElementById("chart-donut-criticality").getContext("2d");

        var donutData = [(${ reportsByCriticality })];

        new Chart(ctx, {
            type: "doughnut",
            data: {
                labels: ["Blocker",
                    "Severe",
                    "High",
                    "Medium",
                    "Low"],
                datasets: [{
                    label: "Reports",
                    borderWidth: 0,
                    borderRadius: 1,
                    borderSkipped: false,
                    backgroundColor: ["purple",
                        "rgba(245, 58, 39, 0.8)",
                        "rgba(245, 178, 39, 0.8)",
                        "rgba(213, 225, 39, 0.8)",
                        "rgba(39, 245, 67, 0.8)"],
                    hoverOffset: 30,
                    hoverBorderWidth: 2,
                    data: donutData,
                },
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                layout: {
                    padding: 10,
                },
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                },
                onClick: (e) => {
                    window.open('./bugReports?report=criticality=' + e.chart.tooltip.title[0])
                }
            },
        });

    </script>
    <script th:inline="javascript">

        var ctx = document.getElementById("chart-bar-category").getContext("2d");

        var barData = [(${ reportsByCategory })];

        new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["Functional",
                    "Performance",
                    "Security",
                    "Feature",
                    "Usability"],
                datasets: [{
                    label: "Reports",
                    tension: 0.4,
                    borderWidth: 0,
                    borderRadius: 1,
                    borderSkipped: false,
                    backgroundColor: ["pink",
                        "orange",
                        "purple",
                        "red",
                        "yellow"],
                    hoverBorderWidth: 2,
                    data: barData,
                },
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                layout: {
                    padding: 10,
                },
                plugins: {
                    legend: {
                        position: 'top'
                    }
                },
                onClick: (e) => {
                    window.open('./bugReports?report=category=' + e.chart.tooltip.title[0])
                }
            },
        });
    </script>
    <script th:inline="javascript">

        var ctx = document.getElementById("chart-donut-status").getContext("2d");

        var donutData = [(${ reportsByStatus })];

        new Chart(ctx, {
            type: "doughnut",
            data: {
                labels: ["Open",
                    "In-progress",
                    "Done"],
                datasets: [{
                    label: "Reports",
                    tension: 0.4,
                    borderWidth: 0,
                    borderRadius: 1,
                    borderSkipped: false,
                    backgroundColor: ["rgba(245, 58, 39, 0.8)",
                        "rgba(213, 225, 39, 0.8)",
                        "rgba(39, 245, 67, 0.8)"],
                    hoverOffset: 30,
                    hoverBorderWidth: 2,
                    data: donutData,
                },
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                layout: {
                    padding: 10,
                },
                plugins: {
                    legend: {
                        position: 'top'
                    }
                },
                onClick: (e) => {
                    window.open('./bugReports?report=status=' + e.chart.tooltip.title[0])
                }
            },
        });
    </script>
    <script th:inline="javascript">

        var ctx = document.getElementById("chart-donut-priority").getContext("2d");

        var donutData = [(${ reportsByPriority })];

        new Chart(ctx, {
            type: "doughnut",
            data: {
                labels: ["Urgent",
                    "High",
                    "Medium",
                    "Low"],
                datasets: [{
                    label: "Reports",
                    tension: 0.4,
                    borderWidth: 0,
                    borderRadius: 1,
                    borderSkipped: false,
                    backgroundColor: ["rgba(245, 58, 39, 0.8)",
                        "rgba(245, 178, 39, 0.8)",
                        "rgba(213, 225, 39, 0.8)",
                        "rgba(39, 245, 67, 0.8)"],
                    hoverOffset: 30,
                    hoverBorderWidth: 2,
                    data: donutData,
                },
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                layout: {
                    padding: 10,
                },
                plugins: {
                    legend: {
                        position: 'top'
                    }
                },
                onClick: (e) => {
                    window.open('./bugReports?report=priority=' + e.chart.tooltip.title[0])
                }
            },
        });
    </script>

</body>

</html>