<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <div th:insert="navigation :: navbar"></div>
            </div>
        </div>
        <div class="row">
            <div class="col gy-5">
                <table class="table table-bordered">
                    <tr>
                        <th>Account ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email Address</th>
                        <th>Team</th>
                        <th>Role</th>
                        <th>Date Created</th>
                    </tr>
                    <tr th:object="${userDetails}">
                        <td class="text-center" th:text="${userDetails.id}"></td>
                        <td th:text="${userDetails.firstName}"></td>
                        <td th:text="${userDetails.lastName}"></td>
                        <td th:text="${userDetails.emailAddress}"></td>
                        <td th:text="${userDetails.team}"></td>
                        <td th:text="${userDetails.role}"></td>
                        <td th:text="${userDetails.dateCreated}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a href="/profile/edit-profile" class="btn btn-outline-primary">Edit Profile</a>
            </div>
            <div class="col-2">
                <a href="/profile/update-password" class="btn btn-outline-primary">Update Password</a>
            </div>
        </div>
    </div>

    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>