<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body>

    <div th:fragment="user-edit">
        <form th:object="${userDetails}" th:action="@{/profile/update-profile-changes}" method="POST">
            <div class="form-floating">
                <input type="text" th:field="*{firstName}" class="form-control" id="first-name">
                <label for="first-name">First name</label>
            </div>
            <div class="form-floating">
                <input type="text" th:field="*{lastName}" class="form-control" id="last-name">
                <label for="last-name">Last name</label>
            </div>
            <div class="form-floating">
                <input type="email" th:field="*{emailAddress}" class="form-control" id="email-address">
                <label for="email-address">Email address</label>
            </div>
            <input class="btn btn-outline-primary" value="Save" type="submit">
        </form>
    </div>

    <!-- TODO: change action URL & create dropdown list for teams. Add assigned projects fields as well. -->

    <div th:fragment="admin-edit">
        <form th:object="${accountDetails}" th:action="@{/profile/update-profile-changes}" method="POST">
            <div class="form-floating">
                <input type="text" th:field="*{firstName}" class="form-control" id="first-name">
                <label for="first-name">First name</label>
            </div>
            <div class="form-floating">
                <input type="text" th:field="*{lastName}" class="form-control" id="last-name">
                <label for="last-name">Last name</label>
            </div>
            <div class="form-floating">
                <input type="email" th:field="*{emailAddress}" class="form-control" id="email-address">
                <label for="email-address">Email address</label>
            </div>
            <div class="form-floating">
                <input type="email" th:field="*{team}" class="form-control" id="team">
                <label for="team">Team</label>
            </div>
            <div class="form-floating">
                <input type="email" th:field="*{role}" class="form-control" id="role">
                <label for="role">Role</label>
            </div>
                <input class="btn btn-outline-primary" value="Save" type="submit">
        </form>
    </div>

</body>