<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>A List of Bug Reports!</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <div class="row g-0">
        <div class="col p-2 d-none d-lg-block">
            <div th:replace="navigation :: side-navbar"></div>
        </div>
        <div class="col gt-2 d-block d-lg-none">
            <div th:replace="navigation :: offcanvas-navbar"></div>
        </div>

        <div class="col-lg-9">
            <div class="container-fluid">
                <div class="row sticky-top p-2">
                    <div class="col-1 d-lg-none">
                        <i class="btn btn-light bi bi-arrow-right-square float-start py-auto" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navbar"
                            aria-controls="offcanvas-navbar"></i>
                    </div>
                    <div class="col px-1">
                        <div class="container rounded-3 text-bg-dark bg-gradient mw-100" style="height: 10vh;">
                            <h5 class="navbar-text">bug reports</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="search-bar" onkeyup="myFunction()"
                                placeholder="search">
                            <label for="search-bar">search by title...</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table align-middle table-hover" id="reports">
                                <thead>
                                    <tr class="header rounded-3 shadow">
                                        <th class="visually-hidden">Report ID</th>
                                        <th>Title</th>
                                        <th class="visually-hidden">Description</th>
                                        <th>Project</th>
                                        <th>Assigned Users</th>
                                        <th class="visually-hidden">Reporter</th>
                                        <th class="visually-hidden">Owner</th>
                                        <th>Criticality</th>
                                        <th>Category</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                        <th>Created On</th>
                                    </tr>
                                </thead>
                                <tbody class="rounded-3">
                                    <tr th:each="report : ${listOfBugReports}">
                                        <td class="visually-hidden" th:text="${report.id}"></td>
                                        <td class="text-truncate" style="max-width: 150px;" th:text="${report.title}">
                                        </td>
                                        <td class="visually-hidden" th:text="${report.description}"></td>
                                        <td th:text="${report.projectAssignedTo}"></td>
                                        <td>
                                            <div class="position-relative">
                                                <div class="d-flex" style="font-size: 2rem;">
                                                    <a href="" class="link-dark" data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom"
                                                        th:data-bs-title="${report.assignee}"><i
                                                            class="bi bi-person-badge"></i></a>
                                                    <a href="" class="link-dark" data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom"
                                                        th:data-bs-title="${report.reporter}"><i
                                                            class="bi bi-person-badge"></i></a>
                                                    <a href="" class="link-dark" data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom"
                                                        th:data-bs-title="${report.owner}"><i
                                                            class="bi bi-person-badge"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="visually-hidden" th:text="${report.reporter}"></td>
                                        <td class="visually-hidden" th:text="${report.owner}"></td>
                                        <td th:text="${report.criticality}"></td>
                                        <td th:text="${report.category}"></td>
                                        <td th:text="${report.priority}"></td>
                                        <td th:text="${report.status}"></td>
                                        <td th:text="${report.createdOn}"></td>
                                        <td><a th:href="@{/bugReports/view/{id} (id=${report.id})}"
                                                class="btn btn-outline-primary">View</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form action="/bugReports/new" method="GET">
                            <button class="btn btn-primary" type="submit">New Bug Report</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col gy-4"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script>
        function myFunction() {
            var searchBarInput, searchFilter, table, tr, td, txtValue;
            searchBarInput = document.getElementById("search-bar");
            searchFilter = searchBarInput.value.toUpperCase();
            table = document.getElementById("reports");
            tr = table.getElementsByTagName("tr");
            for (let i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(searchFilter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>

</html>