<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>A List of Bug Reports!</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico?v=1}">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link th:href="@{/css/custom-bootstrap.css}" rel="stylesheet">
</head>

<body>
    <div class="row g-0">
        <div class="col d-none d-lg-block">
            <div th:replace="navigation :: side-navbar"></div>
        </div>
        <div class="col gt-2 d-block d-lg-none">
            <div th:replace="navigation :: offcanvas-navbar"></div>
        </div>

        <div class="col-lg-9">
            <div class="container-fluid">
                <div th:replace="banner :: banner (pageLinks='allBugReports-links', pageName='All Bug Reports')">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="search" class="form-control" id="search-bar" th:value="${param.report}"
                                onkeydown="searchReports()" placeholder="search">
                            <label for="search-bar">search by column eg. category=functional</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive bg-white rounded-3 shadow p-3">
                            <table class="table align-middle table-hover" id="reports">
                                <thead class="rounded-3 shadow">
                                    <tr class="header">
                                        <th class="visually-hidden">Report ID</th>
                                        <th onclick="sortTableColumn(1)" style="cursor: pointer;" id="Title">Title</th>
                                        <th class="visually-hidden">Description</th>
                                        <th onclick="sortTableColumn(3)" style="cursor: pointer;" id="Project">Project
                                        </th>
                                        <th>Assigned Users</th>
                                        <th class="visually-hidden">Reporter</th>
                                        <th class="visually-hidden">Owner</th>
                                        <th onclick="sortTableColumn(7)" style="cursor: pointer;" id="Criticality">
                                            Criticality</th>
                                        <th onclick="sortTableColumn(8)" style="cursor: pointer;" id="Category">Category
                                        </th>
                                        <th onclick="sortTableColumn(9)" style="cursor: pointer;" id="Priority">Priority
                                        </th>
                                        <th onclick="sortTableColumn(10)" style="cursor: pointer;" id="Status">Status
                                        </th>
                                        <th onclick="sortTableColumn(11)" style="cursor: pointer;" id="Created On">
                                            Created On</th>
                                    </tr>
                                </thead>
                                <tbody class="rounded-3">
                                    <tr th:each="report : ${listOfBugReports}">
                                        <td class="visually-hidden" th:text="${report.id}"></td>
                                        <td class="text-truncate" style="max-width: 150px;" th:text="${report.title}">
                                        </td>
                                        <td class="visually-hidden" th:text="${report.description}"></td>
                                        <td th:text="${report.projectAssignedTo}"></td>
                                        <td>
                                            <div class="position-relative">
                                                <div class="d-flex" style="font-size: 2rem;">
                                                    <a href="" class="link-dark" data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom"
                                                        th:data-bs-title="${report.reporter}"><i
                                                            class="bi bi-person-badge"></i></a>
                                                    <a href="" class="link-dark" data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom"
                                                        th:data-bs-title="${report.assignee}"><i
                                                            class="bi bi-person-badge"></i></a>
                                                    <a href="" class="link-dark" data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom" th:data-bs-title="${report.owner}"><i
                                                            class="bi bi-person-badge"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="visually-hidden" th:text="${report.reporter}"></td>
                                        <td class="visually-hidden" th:text="${report.owner}"></td>
                                        <td th:text="${report.criticality}"></td>
                                        <td th:text="${report.category}"></td>
                                        <td th:text="${report.priority}"></td>
                                        <td th:text="${report.status}"></td>
                                        <td th:text="${report.createdOn}"></td>
                                        <td><a th:href="@{/bugReports/view/{id} (id=${report.id})}"
                                                class="btn btn-outline-primary">View</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form action="/bugReports/new" method="GET">
                            <button class="btn btn-primary" type="submit">New Bug Report</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col gy-4"></div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="/js/searchReports.js"></script>
    <script src="/js/sortTableColumn.js"></script>
    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>


</html>